doctype 5
html(class="no-js lt-ie9 lt-ie8 lt-ie7")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title RCM Food Service

    meta(name='description', content='')
    meta(name='author', content='Scott Corgan')
    meta(name='viewport', content="width=device-width,minimum-scale=1.0,maximum-scale=10.0,initial-scale=1.0")

    title Southern California Distribution | RCM Food Service

    link(href='http://fonts.googleapis.com/css?family=Arvo', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/c/style.css')

    script(src="j/libs/modernizr-2.5.3-respond-1.1.0.min.js")

  body
    
    div#header
      img.bg(src='/img/header_bg.jpg', title='RCM - Food Service Distribution in Southern California')
      img.tri(src='/img/triangle.png')
      header.container
        .row
          nav.span4.offset4.clearfix
            a(href='', title='About RCM - RCM Food Service - Souther California') About RCM
            a(href='', title='Contact RCM - RCM Food Service - Souther California') Contact RCM
        .row.products
          .prod.cups cups
          .prod.containers containers
          .prod &nbsp;
          .logo
            h1
              a(href='/', title='RCM Food Service - Souther California Food and Coffee Distribution')
                | RCM Food Service - Souther California
          .prod.plasticware plasticware
          .prod.straws cold cups
        .row.number
          .span12 714-992-2500

    div#wrapper

      section#about
        .container
          .row
            .span12
              h2
                span.dist Distribution
                i.ic.cup-drop
                span.perf Perfection
          .row
            .span8.offset2
              p.intro
                |At RCM, we believe that expectations are simply meant to be exceeded. That’s why, for 24 years, we’ve been tirelessly pursuing distribution
                br
                | perfection in Southern California. Whether your perfect cup
                br
                | of coffee needs a jacket, or your summer smoothie needs
                br
                | a straw, let our products compliment your products.
          .row
            .span12
              a.btn(href='') Contact Us Today!

      section#brands
        .container
          .row
            .span6.offset3.center
              h2 Everything But The Bean
              i.fork fork
              h4 Maecenas faucibus mollis interdum. Nuvtvtv100000tttttllam id dolor id nibh ultriciesvehicula ut id elit.Nullam id dolor id nibh.
          .row
            .span3
              img(src='/img/logos/rcm-food-service-solo.gif', alt='Solo Distribution', title='Solo Distribution')
            .span3
              img(src='/img/logos/rcm-food-service-karat.gif', alt='Karat Distribution', title='Karat Distribution')
            .span3
              img(src='/img/logos/rcm-food-service-big-train.gif', alt='Big Train Distribution', title='Big Train Distribution')
            .span3
              img(src='/img/logos/rcm-food-service-pacific-foods.gif', alt='Pacific Natural Foods Distribution', title='Pacific Natural Foods Distribution')
          .row
            .span3
              img(src='/img/logos/rcm-food-service-java-jacket.gif', alt='Java Jacket Distribution', title='Java Jacket Distribution')
            .span3
              img(src='/img/logos/rcm-food-service-scenic-fruit.gif', alt='Scenic Fruit Distribution', title='Scenic Fruit Distribution')
            .span3
              img(src='/img/logos/rcm-food-service-chai-company.gif', alt='The Chai Company Distribution', title='The Chai Company Distribution')
            .span3
              img(src='/img/logos/rcm-food-service-ghirardelli.gif', alt='Ghirardelli Distribution', title='Ghirardelli Distribution')
          .row.hidden-phone
            .span3
              img(src='/img/logos/rcm-food-service-monin.gif', alt='Monin Distribution', title='Monin Distribution')
            .span3
              img(src='/img/logos/rcm-food-service-torani.gif', alt='Torani Distribution', title='Torani Distribution')
            .span3
              img(src='/img/logos/rcm-food-service-dart.gif', alt='Dart Distribution', title='Dart Distribution')
            .span3
              img(src='', alt='')
          .row
            .span12.center
              h3 Want it? We got it! Don’t see it? We’ll get it!
              a.btn(href='') Order Now!


      section#contact
        .container
          .row
            .span12
              h2 Contact RCM
              form#contactForm
                  label(for='campanyName') Company Name
                  input#companyName(type='text', name='companyName')

                  label(for='email') Email
                  input#email(type='text', name='email')

                  label(for='phoneNumber') Phone Number
                  input#phoneNumber(type='text', name='phoneNumber')

                  label(for='message') Message
                  textarea#message(name='message')

                  a.btn(href='') Send

      footer#footer
        .container
          .row
            .span12
              | footer



    //- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="j/libs/jquery-1.7.2.min.js"><\/script>')</script>

    //- <script src="j/libs/bootstrap/bootstrap.min.js"></script>

    <script src="j/script.js"></script>

    //- <script>
    //-   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    //-   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    //-   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    //-   s.parentNode.insertBefore(g,s)}(document,'script'));
    //- </script>